/*Hero Section*/

#hero {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
}

#hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 250px;
  padding-bottom: 250px;
  margin: auto;
  max-width: 70%;
}

#hero-title-name {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;

  font-size: 6.5rem;
  text-transform: uppercase;
  /*font-family: "Playfair Dispay", "Times New Roman", Times, serif;*/
  /*line-height: 1.2;*/
  text-align: center;
  color: #3b4f40;
}

#hero-subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  max-width: 75%;
  align-self: center;
}

/*Resume Section*/

.section-heading {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;

  font-size: 4rem;
  text-transform: uppercase;

  text-align: center;

  margin-bottom: 50px;
}

#resume {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: antiquewhite;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
}

.background-left {
  background-color: bisque;
}

.background-right {
  background-color: blanchedalmond;
}

.resume-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 50px;

  border-bottom: 2px solid black;

  width: 100%;
  height: 250px;
}

.left-aligned {
  justify-content: left;
  text-align: left;
  align-self: start;

  width: 70%;
}

.right-aligned {
  justify-content: right;
  text-align: right;
  align-self: end;
  width: 70%;
}

/*Projects*/
#projects {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*About*/
#about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: antiquewhite;
}

#about-body{

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  text-align: left;
  margin: auto;
  width: 75%;
}
/*Contact*/
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*Footer*/

#footer {
  padding-top: 50px;
  padding-bottom: 50px;
}